{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} SourceGPT {% endblock %}</h1>


<p class="text-justify">
SourceGPT is a powerful tool that allows you to create custom prompt models and retrieve results from ChatGPT, the OpenAI language model trained by OpenAI. 
</p>

<p class="text-justify">
With SourceGPT, you can upload your source code as a zip file, select the prompt model you want to use, and then retrieve the results all through a user-friendly web interface. One of the key features of SourceGPT is that it can be self-hosted, which means that you have complete control over your data and can use it in a way that best suits your needs.
</p>

<p class="text-justify">
The project is far from being perfect and does contain also some limitations, please before going further read the project's github documentation at <a href="https://github.com/NightmareLab/SourceGPT#start-guide"> https://github.com/NightmareLab/SourceGPT </a>
</p>

{% endblock %}
