{% extends 'base.html' %}

{% block content %}

  <h1>{% block title %} Upload {% endblock %}</h1>

  {% if status.startswith('Ok') %}
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand" style="background-color:MediumSeaGreen;">Success - {{status}}</div>
    </nav>

  {% elif status != "" %}
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand" style="background-color:Tomato;">{{status}}</div>
    </nav>

  {% endif %}

  <form action="/uploadfile" method="POST" enctype=multipart/form-data>
    <div class="form-row">

      <div class="form-group col-md-5">
        <label for="formFileLg" class="form-label">Upload source code (.zip)</label>
        <input class="form-control form-control-lg" id="formFileLg" type="file", name="file_upload">
      </div>

      <br />
      <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" value="" id="do_delete_scan" name="do_delete_scan">
        <label class="form-check-label" for="do_delete_scan">Delete project's files after scanning is done</label>
        <small class="form-text text-muted"> (default project's files are not deleted)</small>
      </div>
    </div>
    <br />

    <div class="form-row">
      <div class="form-group">
        <label class="my-1 mr-2" for="prompt_id">Prompt model:</label>
        <select class="custom-select my-1 mr-sm-2" id="prompt_id" name="prompt_id">
          <option selected>Choose...</option>
          {% for prompt in prompt_models %}
            <option value="{{prompt['id']}}">{{prompt['name']}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br />

    <div class="form-row">
      <div class="form-group form-check col-md-2">
        <input class="form-check-input" type="checkbox" value="" id="do_single_scan" name="do_single_scan">
        <label class="form-check-label" for="do_single_scan">
          Do one question to openai per file
          <small class="form-text text-muted"> (default is that all files are collapsed in a single request)</small>
        </label>
      </div>
      <div class="form-group col-md-2">
        <label class="form-label" for="wtime_single_scan">Waiting time per request</label>
        <input class="form-control" type="text" id="wtime_single_scan" name="wtime_single_scan">
        <small class="form-text text-muted"> (default: {{extra['default_wtime']}}s)</small>
      </div>
    </div>
    <br />

    <button type="submit" class="btn btn-primary" value="Upload">upload</button>
  </form>

{% endblock %}

